 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Lato:wght@300&family=Ubuntu:ital@1&display=swap');

* {
    list-style: none;
    margin: 0;
    font-size: 24px;
    box-sizing: border-box;
    font-family: Lato, Caveat;
}

body{
    background: linear-gradient(-55deg, #3FCAA0,#C8E6FA, #57DDA8);
}

img{
    height: 200px;
    width: 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #00A0FF;
    position: sticky;
    top: 0;
    color: #fff;
    box-shadow: 10px 10px 10px #C0C0C0;
}

.logo-container {
    background-image: url(image/pokemon-logo.png);
    background-size: contain;
    height: 60px;
    width:60px;
    cursor: pointer;
}

header ul {
    display: flex;
    gap: 45px;
    cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  grid-gap: 70px;
  margin: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-radius: 35px;
    background-image: linear-gradient(to right, #B1EFFC,#CEE9FA, #6FDED7);
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 10px #C0C0C0;
}

.card:hover {
    background: linear-gradient(-45deg, #636F75,#C8E6FA, #1A79FD);
}

.name-content {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D4AF37;
    background-color: #fff;
}

.like-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

i:hover {
    opacity: 0.3;
}

i:active  {
   color: red;
}


.comment-btn,
.add-comment-btn  {
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius:25px;
    background-color: #1DC9B4;
    color: #fff;
}

.comment-btn:hover,
.add-comment-btn:hover  {
    background-color:#C8E9FC;
    color: #000;
}

.comment-btn:active,
.add-comment-btn:active {
    background-color: #8cc0dd;
}

footer {
     display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #00A0FF;
    color: #fff;
}

/* Comment section */
.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin: 10% 30%;
    gap: 10px;
    padding: 20px;
    width: 40%;
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 10px #C0C0C0;
    background: linear-gradient(-45deg, #636F75,#C8E6FA, #1A79FD);
    }

.image-x{
    display: flex;
    justify-content: space-between;
}

.image-x button{
    position: absolute;
    right: 31%;
    align-self: flex-start;
    justify-self: flex-end;
    font-size: 33px;
    color: #252425;
    border: none;
}

.add-comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-comment-btn {
    margin-bottom: 40px;
}

.name,
.comment {
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.name:focus,
.comment:focus{
    outline: none;
}


.character {
    display: flex;
    gap: 123px;
    border: 1px solid #C0C0C0;
    padding: 10px;
    border-radius: 5px;
}

.comment-item {
    background-color: #C0C0C0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* media queries */

@media screen and (max-width: 768px) {

    header {
        max-width: 100%;
         position: sticky;
        top: 0;
        height: 8vh;
        box-shadow: none;
        margin-bottom: 20px;
    }

    img{
        height: 100px;
        width: 100px;
    }

    .logo-container {
        height: 50px;
        width:50px;
        left: 10px;
        position: absolute;
    }

    header ul {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: repeat( 1, 240px);
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .card{
        border-radius: 35px;
        box-shadow: 5px 5px 5px #C0C0C0;
    }

    .name-content {
        padding: 5px;
    }
   .name-content h2 {
        font-size: 22px;
    }

    .comment-btn,
    .add-comment-btn  {
        padding: 5px 10px;
        font-size: 22px;
    }


    .comment-container {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .image-x button{
        position: absolute;
        right: 3%;
    }

    .add-comment {
        display: flex;
        gap: 5px;
    }

    .name,
    .comment {
        padding: 5px;
        font-size: 20px;
    }

    .character {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        border: none;
    }

    .comment-item {
        background-color: #C0C0C0;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
    }

    .close {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    footer {
        margin-top: 20px;
    }

}